page-myprofile {
  img {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }

  .flex-container {
    display: flex;
    justify-content: center;
  }

  .flex-container > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: #0e9643;
  }

}
